___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: there are two main types: integers (whole numbers) and floating point (numbers with decimals)

Strings: ordered sequence of characters, using the syntax of either singles quotes or double quotes. They can be indexed and sliced. They are immutable

Lists: ordered sequences that can hold a variety of object types. They can be indexed and sliced. They are mutable.

Tuples: similar to lists, ordered sequences that can hold a variety of object types, but the difference is that tupples are immutable.

Dictionaries: unordered mappings for storing objects, using a key-value pairing

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(20+5)+(5*5)+(75-50)+(1/4)+(5**2)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

What is the *type* of the result of the expression 3 + 1.5 + 4? *A Floating point (number)*

What would you use to find a numberâ€™s square root, as well as its square?

In [9]:
# Square root: with the operator '**'? o con math.sqrt(numero)

In [10]:
# Square: with the operator '**'

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = 'hello'
# Print out 'e' using indexing
s [1]

'e'

Reverse the string 'hello' using slicing:

In [18]:
s ='hello'
# Reverse the string using slicing
s [::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [19]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [20]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
mylist=[0,0,0]

In [23]:
mylist

[0, 0, 0]

In [34]:
# Method 2:
list1=[0]
list2=[0,0]
list3=list1+list2

In [35]:
list3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [64]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [65]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [66]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [67]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [89]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [93]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not? 
Dictionaries cannot be sorted because they have a key-value mapping, that is to insert key-value pairs wherever it deems most efficiently.

## Tuples

What is the major difference between tuples and lists?
IMMUTABILITY

How do you create a tuple?
With parenthesis

## Sets

What is unique about a set?
They are unordered collections of unique elements. There can only be one representative of the same object.

Use a set to find the unique values of the list below:

In [94]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [95]:
# Answer before running cell
2 > 3
False

False

In [96]:
# Answer before running cell
3 <= 2
False

False

In [97]:
# Answer before running cell
3 == 2.0
False

False

In [98]:
# Answer before running cell
3.0 == 3
True

True

In [99]:
# Answer before running cell
4**0.5 != 2
True

True

Final Question: What is the boolean output of the cell block below?

In [103]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
False

False

## Great Job on your first assessment!