FOR LOOP (LIST EXAMPLES)

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

FOR LOOPS AND CONTROL FLOW

In [6]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [7]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

FOR LOOP (STRING EXAMPLES)

In [9]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [19]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

FOR LOOP (TUPLE EXAMPLES)

In [20]:
tup = (1,2,3)

for item in tup: 
    print(item)

1
2
3

In [16]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [17]:
len(mylist)

4

In [18]:
for item in mylist: 
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

TUPLE UNPACKING

In [21]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
for a,b in mylist:
    print(a)

1
3
5
7

In [23]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [24]:
for a,b,c in mylist:
    print(b)

2
5
8

In [25]:
for item in mylist: 
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

FOR LOOP (DICT EXAMPLES)

In [26]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [27]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

SAME TUPLE UNPACKING TECHNIQUE:

In [28]:
for key,value in d.items():
    print(value)

1
2
3

In [29]:
for value in d.values():
    print(value)

1
2
3

In [33]:
si = ('Está')
no = ('No está')
milista = [1,2,3,4]

for elem in milista:
    if elem == 5:
        print(si)
    else:
        print(no)

No está
No está
No está
No está

In [34]:
min(milista)

1

In [35]:
max(milista)

4

In [38]:
elem = 0

while milista[elem] != 5:
    print(no)
    if elem < 3:
        elem += 1
    else:
        break

No está
No está
No está
No está

In [39]:
my_list = ['Pedro', 'Chris', 'Juan', 'Maria']
elem = my_list.pop()
print(my_list)  
print(elem)

['Pedro', 'Chris', 'Juan']
Maria

In [ ]:
milista.